/********* Boton flotante **********/

.redes-flotantes {
  position: fixed;
  right: 8px;
  top: 90%;
  z-index: 20;
}

.redes-flotantes img {
  float: right;
  clear: right;
  margin: 5px;
  -moz-transform: scale(.9);
  -webkit-transform: scale(.9);
  -o-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.redes-flotantes img:hover {
  -moz-transform: scale(1.1) rotate(6deg);
  -webkit-transform: scale(1.1) rotate(6deg);
  -o-transform: scale(1.1) rotate(6deg);
  -ms-transform: scale(1.1) rotate(6deg);
  transform: scale(1.1) rotate(6deg);
}

/**********************************************/







.details-card {
  margin: 120px 0 60px 0
}

.card-content {
  background: #fff;
  padding: 40px 0;
  box-shadow: inset 0 -1px 0 rgba(79,131,170,.2), 0 0 30px rgba(0,0,0,.07)
}

.card-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-img-center{
  display: flex;
  justify-content: center;
}

.card-img svg {
  height: auto;
  display: block;
  border-radius:8px;
  border: 4px solid #f47735;
  padding:10px
}

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1ABC9C;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%,-50%);
}

.card-img h3 {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.3em;
  margin: 5px 0;
  display: block
}

.card-desc {
  padding: 1.25rem;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  text-align:center
}

.btn-centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-card{
  color: #fff;
  background-color: #f47735;
  padding: 10px 30px;
  font-size: 14px;
  margin: 0;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */







.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 10px;
  background-color: #fff
}


.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  background-color: #fff;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.row-margin-bottom {
  max-width: 1140px;
  margin-bottom: 20px
}

.box-shadow {
  box-shadow: inset 0 -1px 0 rgba(79,131,170,.2), 0 0 30px rgba(0,0,0,.07);
  border-radius:15px
}

.no-padding {
  padding: 0;
}

.bg_video {
  background: #f3f8fa;
  padding:60px 0 0 0
}

.bg_video .row{
  margin-right: 0;
  margin-left: 0
}

.media svg {
  background: #72727221;
  padding: 10px
}

.media-body h4{
  margin-left:10px
}
