@media screen and (max-width:768px){
    /* Bloque de cards*/
    .details-card {
        margin: 10px 0 0 0
    }

    .box-shadow {
        border-radius: 0
    }
    
    .media svg {
        margin-left: 20px
    }

    /* Footer*/
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    /* Modal*/
    .modal-header {
        border-bottom: 0!important
    }

    .modal-content {
        background-color: transparent!important;
        border: 0!important
    }

    .modal-content .close {
        color: #fff!important;
        opacity: 1!important
    }

    /*Slider*/
    #slider_home .carousel-item h4 {
        font-size: 24px;
        text-align: center;
    }

    /* Centrar barra en titulos*/
    .productos .titulo:after {
        left: 38%
    }

    .marcas .titulo:after {
        left: 38%
    }

    /* Menu movil*/
    .navbar-dark .navbar-nav {
        width: 380px
    }

    .navbar-collapse {
        right: -380px;
    }
}


/********* Modal reproductor de video **********/
@media screen and (min-width: 576px){
    
    .modal {
        padding-right: 0px!important;
        background: #00000080
    }

    .modal-open{
        padding-right: 0px!important
    }

    .modal-dialog {
        max-width: 99%!important
    }

    .modal-header {
        border-bottom: 0!important
    }

    .modal-content {
        max-width: 100%!important;
        background-color: transparent!important;
        border: 0!important
    }

    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .modal-content .close {
        color: #fff!important;
        opacity: 1!important
    }

    .embed-responsive {
        width: 60%;
    }

    .embed-responsive-4by3::before {
        padding-top: 40%;
    }
}
/**********************************************/


/********* Oscurer body, despues de darle click al menu **********/
@media screen and (min-width:991px) {  
    .oscurecer:after{
        content: ''; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .15s ease-in-out;
        opacity: 0;
        visibility:hidden;
        background-color: rgba(0,0,0,.7);
        pointer-events: none;
    }

    .oscurecer.show .nav-link{
        position:relative;
        z-index:12;
    }
    .oscurecer.show:after{
        z-index:10;
        opacity:1; 
        visibility:visible;
        position: fixed;
    }
}
/**********************************************/